.selected {
  border: 2px solid #BF9B30;
  background-color: #F5F5F5;
  border-radius: 8px;
}

.ordering-container {
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
  }
  .ordering-box-content {
    padding-bottom: 10px;
    width: 100%;
    text-align: left; 
  }
  
  .ordering-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
  }
  
  .ordering-box-content h2 {
    text-align: left;
    font-size: 20px;

  }
  .ordering-box-content p {
  text-align: left;
  font-size: 15px;
  padding-top: 10px;
  }
  
  
  .ordering-subtitle {
    font-size: 20px;
    padding-top: 10px;
  }
  
  .ordering-title {
    margin-top: 100px;
  }
  
  .ordering-app-container {
    display: flex;
    justify-content: center;
  }
  
  .ordering-box-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .ordering-back-button {
    margin-top: -40px;
    padding: 10px 20px;
    font-size: 16px;
    color: #BF9B30;
    background-color: #fff;
    border: 2px solid #BF9B30 !important; 
    border-radius: 50px;
    cursor: pointer;
    margin-right: 50%;
    margin-bottom: 30px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.ordering-back-button:hover {
  color: white;
  background-color: #b8901a;
  font-weight: bold;
}

  .ordering-next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #BF9B30;
    border: none;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 50%;
  }

  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e8ddba;
    margin-left: 20px; 
  }

  .ordering-icon {
    color: #BF9B30;
    font-size: 20px;
    margin-right: 5px;
  }
  
  .ordering-services-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%; /* Adjust width as needed */
  }
  
  .ordering-detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Adjust the spacing between items */
    margin-top: 20px;
  }
  
  .ordering-detail {
    flex-basis: calc(50% - 20px); /* Adjust width of each service box */
    margin-bottom: 20px;
    cursor: pointer; 
  }
  
  .ordering-mini-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
                0 4px 8px rgba(0, 0, 0, 0.1),
                0 8px 16px rgba(0, 0, 0, 0.1),
                0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .ordering-label {
    margin: 0;
    margin-left: 10px;
  }
  
  .ordering-icon {
    margin-left: 10px;
  }
  
  .ordering-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 20px 0;
  }
  
  .ordering-box-content {
    padding-bottom: 10px;
    width: 100%;
  }
  